mixin productos(bolsa, tamaño, precio, detalles, url)
	.contenedorProductos
		.contenedorProductosImg
			img(src=url, alt="")
				
		.contenedorProductosTexto
			p=bolsa
			p=tamaño
			p=precio
			a(href="detallesBolsas.html")
				button=detalles 




